@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --card: #171717;
  --card-foreground: #00f61d;
  --primary: #fdbb23;
  --primary-foreground: #9f3131;
  --muted: #26b60c;
  --muted-foreground: #a8328f;
  --border: #ffc3c3;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom Scrollbar Styling */
* {
  scrollbar-width: thin;
  scrollbar-color: #8c59e2 #171717;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: #171717;
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb {
  background: #8c59e2;
  border-radius: 4px;
  transition: background 0.2s;
}

*::-webkit-scrollbar-thumb:hover {
  background: #a378f0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
