@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --card: #171717;
  --card-foreground: #00f61d;
  --primary: #fdbb23;
  --primary-foreground: #9f3131;
  --muted: #26b60c;
  --muted-foreground: #a8328f;
  --border: #ffc3c3;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
